
body {
    background:#6bbac6;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container{
    text-align: center;
}

header{
    margin-top: 20px;
}

.logo{
    width: 200px;
    height: 200px;
    border-radius:100px; 
    box-shadow: -4px 4px 0 #de8472;
}

.url_logo{
    color:#5a3159;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}

ul{
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: center;
}


div{
    display:block;
    margin:auto;
}

.icons a:link, .icons a:visited {
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
  }
  
  
  .icons a:link img {
    width: 40px;
  }



.description{
    color: #5a3159;
    font-size: 15px;
    padding: 0 25px;
    max-width: 80%;
    margin: 20 auto;

}

.btn{
    margin-top: 30px;
}

.btn li{
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}

.btn li a, .btn li a:visited{
    font-size: 15px;
    background:white;
    color: black;
    border: 2px solid #5a3159;
    padding: 10px;
    text-decoration: none;
    box-shadow: -4px 4px 0 #5a3159;
}


footer{
    margin-top: 100px;
}

hr{
    height: 1px;
    background-color: #5a3159;
    border: 0;
    max-width: 80%;

}

.copyright{
    color: #5a3159;
    font-size: 14px;
    margin-top: 5px;
}