
body {
    background:#6bbac6;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#logo{
    width: 200px;
    height: 200px;
    display:block;
    margin: auto;
    margin-top: 20px;
    display: block;
    border: 2px solid white;
}

#url_logo{
    color:#5a3159;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul{
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#redes{
    display: inline;
    margin:0 3px;
    text-decoration: none;
}

div{
    display:block;
    margin:auto;
}

.icon{
    width: 35px;
    height: 35px;
    display: inline;
}

#cuerpo{
    margin-bottom: 80px;
}

#description {
    color: #5a3159;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin: 10px 20px 20px 20px;
}

.btn{
    font-size: 15px;
    background:white;
    color: black;
    padding: 10px;
    text-decoration: none;
    border: 2px solid #5a3159;
    border-radius: 1px;
    box-shadow: -4px 4px 0 #5a3159;
}

#botones{
    list-style: none;
    text-align: center;
    line-height: 50px;
}

li {
margin-bottom: 10px;
}

hr{
    height: 1px;
    background-color: #5a3159;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}

#copyright{
    color: #5a3159;
    text-align: center;
    font-size: 14px;
    text-align: center;
    margin: auto;
}